.App {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

main {
  display: flex;
  min-height: 100vh;
  max-width: 2048px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(2, 6, 14, 0.9) 100%
  );
  border-right: 3px solid #bb8800;
}

footer {
  padding: 10px 0;
}

@media (max-width: 800px) {
  aside {
    width: 15%;
    max-width: 100px;
  }
}
