h1 {
  text-align: center;
  padding: 40px 20px;
}

.form_wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.contact_info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 60px 60px;
}

.contact_info p {
  padding: 20px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form input {
  background: transparent;
  border: none;
  margin-bottom: 40px;
  padding: 10px 200px;
  border-bottom: 2px solid #bb8800;
  color: #372c2e;
  font-size: 1rem;
}
.form input::placeholder {
  color: #372c2e;
  font-size: 1rem;
}

.form textarea {
  background: transparent;
  border: 2px solid #bb8800;
  padding: 20px 200px;
  margin-bottom: 40px;
  color: #372c2e;
  font-size: 1rem;
}

.form textarea::placeholder {
  color: #372c2e;
  font-size: 1rem;
}

.form label {
  cursor: pointer;
}

.form label input[type="checkbox"] {
  margin: 20px 20px;
}

.form_button {
  cursor: pointer;
  position: relative;
  margin-top: 20px;
  background: transparent;
  color: #372c2e;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.25rem;
  letter-spacing: 0.25rem;
  border: none;
  padding: 19px 32px;
  transition: all 0.5s ease;
}

.form_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    rgba(31, 1, 255, 0.5) 0%,
    rgba(255, 111, 0, 0.5) 100%
  );
  width: 56px;
  height: 56px;
  transition: all 0.5s ease;
  z-index: -1;
}

.form_button:hover::before {
  width: 100%;
  background: linear-gradient(
    45deg,
    rgb(31, 1, 255, 1) 0%,
    rgb(255, 111, 0, 1) 100%
  );
}

.form_button:hover::before:active {
  transform: scale(0.96);
}

.error {
  font-size: 0.8rem;
  color: #b40000;
  letter-spacing: 1px;
}

.success_message {
  position: absolute;
  text-align: center;
  width: 400px;
  height: 50px;
  border-radius: 20px;
  background-color: rgba(162, 124, 0, 0.3);
  bottom: 5px;
  right: 40%;
}

@media (max-width: 1150px) {
  .form_wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 20px 20px;
  }
  .form input {
    padding: 10px 100px;
  }

  .form textarea {
    padding: 20px 100px;
  }
}

@media (max-width: 600px) {
  .form_wrapper {
    width: 50%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  .form input {
    padding: 10px 50px;
  }

  .form textarea {
    padding: 20px 50px;
  }
}
